[Unit]
Description=Update the Dynamic DNS IP
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/ddnsd --domain avatour --token INSERT_TOKEN_HERE --interface wlan0

[Install]
WantedBy=multi-user.target
