[Unit]
Description=Update the Dynamic DNS IP
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/ddnsd --domain avatour --token 0ccdbbb3-ad82-46dd-a1e9-4c8df177b943 --interface wlan0

[Install]
WantedBy=multi-user.target
